.not-found-con {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.n-f-heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.n-f-desc {
  color: #f1f5f9;
  font-family: 'Roboto';
}
